body{
    background-color: rgb(60, 60, 60);
    color: white;
}
.todo{
    text-align: center;
}
button{
    padding: 10px;
    border-radius: 10px;
    border: none;
}
button:hover{
    background-color: rgb(188, 188, 188);
}